/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import url('normalize.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Lato', sans-serif;
	background-color: #3498db;
}

nav	{
	background-color: #ecf0f1;
	margin-bottom: 10px;

	.logo {
		padding: 10px 0;
		width: 80vw;
		max-width: 1140px;
		margin: 0 auto;
		font-weight: 700;
		font-size: 1.3em;
		color: #adadad;
	}

	a {
		float: right;
		margin: 0 5px;
		text-decoration: none;
		background-color: #3498db;
		width: 100px;
    	padding: 5px 15px;
    	text-align: center;
    	margin-bottom: 5px;
    	color: #fff;
    	font-weight: 400;
    	font-size: .8em;
    	border-radius: 5px;

    	&:hover{
    		background-color: #23879A;
    	}
	}
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper {
	padding: 0 0 5px;
	margin-top: 10px;
	width: 60vw;
	max-width: 1140px;
	margin: 0 auto;
	background-color: #ecf0f1;
	border-radius: 5px;
	
	.post {
		padding: 0 0 10px;
		border-bottom: 1px solid #adadad;
		width: 95%;
		margin: 0 auto;

		h2 {
			padding: 0;
			a {
				text-decoration: none;
	    		font-weight: 400;
	    		font-size: 1.25em;
	    		color: #3498db;
			}
		}

		p {
			color: #adadad;
	 		font-size: .7em;
		}

	}

	h2 {
		font-weight: 400;
	    font-size: 1.25em;
	    color: #3498db;
	}

	p {
		color: #adadad;
	}

	h2, p {
		padding: 5px 15px;
	}

	.buttons {
		padding: 10px;
		a {
			padding: 5px 10px;
		    text-decoration: none;
		    color: #fff;
		    background-color: #3498db;
		    border-radius: 5px;
		    margin: 0 1px;
		    &:hover {
		    	background-color: #23879A;
		    }
		}
	}
}