<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<div class='logo'>Lewandowski Forum
		<% if user_signed_in? %>
			<%= link_to 'New post', new_post_path %>
		<% else %>
			<%= link_to 'Sign up', new_user_registration_path %> 
			<%= link_to 'Sign in', new_user_session_path %>
		<% end %>
	</div>
</nav>
<div class='wrapper'>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
</div>
</body>
</html>
